<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <!-- Case 1: Position 1:n Salaray -->
    <appSettings>
        <add key="parentTable" value="Position"/>
        <add key="parentTablePK" value="pid"/>
        <add key="parentQuery" value="SELECT * FROM Position"/>
        <add key="childTable" value="Salary"/>
        <add key="childTableFK" value="pidfk"/>
        <add key="childQuery" value="SELECT * FROM Salary"/>
    </appSettings>

    <!-- Case 2: ??? 1:n ??? -->
    <!--<appSettings> 
        <add key="parentTable" value="Product"/> 
        <add key="parentTablePK" value="pid"/> 
        <add key="parentQuery" value="SELECT * FROM Product"/> 
        <add key="childTable" value="Contains_product"/> 
        <add key="childTableFK" value="cpid"/> 
        <add key="childQuery" value="SELECT * FROM Contains_product"/> 
    </appSettings>-->

    <!--<appSettings> 
        <add key="parentTable" value="Employee"/> 
        <add key="parentTablePK" value="eid"/> 
        <add key="parentQuery" value="SELECT * FROM Employee"/> 
        <add key="childTable" value="DiningTable"/> 
        <add key="childTableFK" value="tid"/> 
        <add key="childQuery" value="SELECT * FROM DiningTable"/>
    </appSettings>-->
</configuration>